.address {
  & h2 {
    font-family: $ff-alumni-sans;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    margin: 0 0 37px;
    letter-spacing: 0.03em;

    @include vp-1199 {
      margin: 0 0 31px;
      font-size: 42px;
      line-height: 50px;
    }

    @include vp-767 {
      margin: 0 0 35px;
      font-size: 32px;
      line-height: 38px;
    }
  }

  & p {
    font-style: normal;
    margin: 0;
    font-size: 14px;
    line-height: 21px;

    @include vp-1199 {
      font-size: 18px;
      line-height: 27px;
    }
  }
}

.address__list {
  overflow: hidden;
  row-gap: 19px;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0;
  padding: 0;

  @include vp-1199 {
    row-gap: 19px;
  }

  @include vp-767 {
    row-gap: 17px;
    grid-template-columns: 1fr;
  }
}

.address__box--stripe {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 1px;
    background-color: $color-light-slate-grey;
    top: 6px;
    right: 3px;
    height: calc(100% + 55px);
  }

  @include vp-1199 {
    &::after {
      content: "";
      top: 8px;
      right: 0;
      height: calc(100% + 65px);
    }
  }

  @include vp-767 {
    &::after {
      content: "";
      height: 0;
    }
  }
}

.address__box {
  padding: 0 13% 0 2%;

  & :first-child {
    font-weight: 700;
    font-style: normal;
    margin: 0 0 2px;
    font-size: 16px;
    line-height: 24px;

    @include vp-1199 {
      margin: 0 0 8px;
      font-size: 20px;
      line-height: 30px;
    }
  }

  @include vp-1199 {
    padding: 0 48px 0 0;
  }

  @include vp-767 {
    padding: 0;
  }

  &:nth-child(2n) {
    padding: 0 0 0 23%;

    @include vp-1199 {
      padding: 0 0 0 48px;
    }

    @include vp-767 {
      padding: 0;
    }
  }
}

.address__box--tel {
  @include vp-767 {
    order: 2;
  }
}

.address__box--email {
  @include vp-767 {
    order: 3;
  }
}
