// .advantages {
//   padding: 110px 0 120px;
//   position: relative;

//   & img {
//     position: absolute;
//     left: 0;
//     top: 0;
//     z-index: -10;
//     object-fit: cover;
//     width: 100%;
//     height: 100%;
//     background-color: $color-pattens-blue-2;
//   }

//   @include vp-1023 {
//     padding: 90px 0 100px;
//   }

//   @include vp-767 {
//     padding: 57px 0 65px;
//   }

//   & h2 {
//     font-weight: 600;
//     font-size: 28px;
//     line-height: 42px;
//     text-align: center;
//     margin: 0 0 50px 0;

//     @include vp-1023 {
//       font-size: 26px;
//       line-height: 39px;
//     }

//     @include vp-767 {
//       font-size: 24px;
//       line-height: 36px;
//       margin: 0 0 30px 0;
//     }
//   }
// }

// .advantages__list {
//   list-style-type: none;
//   padding: 0;
//   margin: 0;
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-template-rows: 1fr;
//   grid-column-gap: 40px;
//   grid-row-gap: 25px;

//   @include vp-1023 {
//     grid-column-gap: 30px;
//   }

//   @include vp-767 {
//     grid-template-columns: 1fr;
//     gap: 30px;
//   }
// }

// .advantages__item {
//   position: relative;
//   padding: 80px 30px 45px;
//   background-color: $color-alice-blue;

//   @include vp-1023 {
//     padding: 70px 16px 22px 20px;
//   }

//   @include vp-767 {
//     min-height: 250px;
//   }

//   & h3 {
//     font-weight: 500;
//     font-size: 18px;
//     line-height: 27px;
//     margin: 0 0 8px 0;

//     @include vp-1023 {
//       line-height: 25px;
//     }

//     @include vp-767 {
//       max-width: 210px;
//     }
//   }

//   & p {
//     font-size: 14px;
//     line-height: 20px;
//     margin: 0;
//   }
// }

// .advantages__item--liner,
// .advantages__item--all-inclusive,
// .advantages__item--tours {
//   &::before {
//     content: "";
//     top: 30px;
//     left: 30px;
//     height: 32px;
//     position: absolute;

//     @include vp-1023 {
//       height: 26px;
//       top: 25px;
//       left: 20px;
//     }
//   }
// }

// .advantages__item--liner {
//   &::before {
//     width: 27px;
//     background: url("../img/svg/ship.svg") center/contain no-repeat;

//     @include vp-1023 {
//       width: 21px;
//     }
//   }
// }

// .advantages__item--all-inclusive {
//   &::before {
//     width: 38px;
//     background: url("../img/svg/mark.svg") center/contain no-repeat;

//     @include vp-1023 {
//       width: 27px;
//     }
//   }
// }

// .advantages__item--tours {
//   &::before {
//     width: 44px;
//     background: url("../img/svg/yacht.svg") center/contain no-repeat;

//     @include vp-1023 {
//       width: 36px;
//     }
//   }
// }
