.advantages {
  padding: 97px 0 140px;
  background-color: $color-ghost-white;

  @include vp-1199 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 70px 0;
  }

  & h2 {
    text-align: center;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;
    font-family: $ff-alumni-sans;
    margin: 0 0 56px;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
      margin: 0 0 60px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
    }
  }
}

.advantages .container {
  @include vp-767 {
    padding: 0;
  }
}

.advantages__item {
  display: flex;
  gap: 30px;

  @include vp-1199 {
    min-height: 62px;
    gap: 29px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 47px 0;
  }

  & b {
    font-weight: 700;
    font-size: 71px;
    line-height: 60px;
    letter-spacing: 0.03em;
    background: linear-gradient(142.51deg, #d10a42 0%, #0041ca 87.33%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @include vp-1199 {
      font-size: 58px;
      // line-height: 87px;
    }

    @include vp-767 {
      font-size: 58px;
      // line-height: 38px;
    }
  }

  & span {
    color: #2e35ac;
    font-size: 14px;
    line-height: 21px;
  }

  & h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    margin: 0 0 20px;

    @include vp-1199 {
      font-size: 20px;
      line-height: 30px;
      margin: 0 0 15px;
    }
  }

  & p {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
  }
}

.advantages__box {
  display: flex;
  flex-direction: column;

  @include vp-767 {
    align-items: center;
  }
}

.advantages__item--comfort,
.advantages__item--experience {
  border-top: 2px solid rgba($color-crimson, 20%);

  @include vp-1199 {
    border: none;
  }

  & .advantages__box {
    justify-content: flex-end;

    @include vp-1199 {
      justify-content: flex-start;
    }
  }
}

.advantages__item--equipment {
  color: $color-ghost-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  grid-column: 2/3;
  grid-row: 1/3;
  background-color: $color-resolution-blue;
  padding: 26% 12%;
  // padding: 66px 34px;

  @include vp-1199 {
    padding: 45px 150px;
    grid-column: 1/3;
    grid-row: 2/3;
    width: 60vw;
    margin: 0 auto;
  }

  @include vp-767 {
    width: 100%;
    padding: 50px 47px;
  }

  & h3 {
    text-align: center;
    margin: 0 0 53px;
    font-size: 26px;
    line-height: 39px;

    @include vp-1199 {
      margin: 0 0 30px;
      font-size: 22px;
      line-height: 33px;
    }

    @include vp-1199 {
      margin: 0 0 25px;
    }
  }

  & span {
    font-weight: 700;
    font-size: 74px;
    line-height: 90px;
    color: $color-default-white;
    // color: $color-ghost-white;

    @include vp-1199 {
      font-size: 74px;
      line-height: 60px;
      margin: 0 0 20px;
    }
  }

  & p {
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    text-align: center;
  }
}

.advantages__list {
  margin: 0;
  padding: 0 59px 0;
  display: grid;
  column-gap: 7%;
  grid-template-columns: minmax(min-content, 340px) minmax(140px, 240px) minmax(min-content, 340px);

  @include vp-1199 {
    column-gap: 5%;
    row-gap: 50px;
    padding: 0;
    grid-template-columns: 1fr 1fr;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
