.advantages {
  padding: 97px 0 137px;
  background-color: $color-ghost-white;

  @include vp-1199 {
    padding: 93px 0;
  }

  @include vp-767 {
    padding: 65px 0;
  }

  & h2 {
    padding-left: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;
    font-family: $ff-alumni-sans;
    margin: 0 0 50px;

    @include vp-1199 {
      padding: 0 26px 0 0;
      font-size: 42px;
      line-height: 50px;
      margin: 0 0 42px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      padding: 0 20px 0 0;
      margin: 0 0 45px;
    }
  }
}

.advantages .container {
  @include vp-767 {
    padding: 0;
  }
}

.advantages__item {
  display: flex;
  gap: 26px;

  @include vp-1199 {
    min-height: 62px;
    gap: 24px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    gap: 7px;
    padding: 0 44px 0;
    min-width: 282px;
  }

  & b {
    font-weight: 700;
    font-size: 71px;
    line-height: 60px;
    margin-bottom: 2px;
    letter-spacing: 0.03em;
    background: linear-gradient(142.51deg, #d10a42 0%, #0041ca 87.33%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @include vp-1199 {
      font-size: 58px;
      line-height: 55px;
      margin-bottom: 0;
    }
  }

  & span {
    color: #2e35ac;
    font-size: 14px;
    line-height: 21px;

    @include vp-767 {
      line-height: 17px;
    }
  }

  & h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    margin: 0 0 5px;

    @include vp-1199 {
      font-size: 20px;
      line-height: 30px;
      margin: 0 0 2px;
    }
  }

  & p {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    margin: 0;

    @include vp-767 {
      text-align: center;
    }
  }
}

.advantages__box {
  display: flex;
  flex-direction: column;

  @include vp-767 {
    align-items: center;
  }
}

.advantages__item--comfort,
.advantages__item--experience {
  border-top: 2px solid rgba($color-crimson, 20%);

  @include vp-1199 {
    border: none;
  }

  & .advantages__box {
    justify-content: flex-end;

    @include vp-1199 {
      justify-content: flex-start;
    }
  }
}

.advantages__item--equipment {
  margin: 6px 8px 5px 0;
  color: $color-ghost-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  grid-column: 2/3;
  grid-row: 1/3;
  background-color: $color-resolution-blue;
  padding: 20% 10% 24%;

  @include vp-1199 {
    padding: 38px 18%;
    grid-column: 1/3;
    grid-row: 2/3;
    width: 58vw;
    margin: 0 auto;
  }

  @include vp-767 {
    width: 100%;
    min-height: 239px;
    padding: 44px 55px 42px;
    margin: 0 0 5px;
  }

  & h3 {
    text-align: center;
    margin: 0 0 30px;
    font-size: 26px;
    line-height: 39px;

    @include vp-1199 {
      margin: 0 0 15px;
      font-size: 22px;
      line-height: 33px;
    }

    @include vp-767 {
      margin: 0 0 10px;
    }
  }

  & span {
    padding-right: 4px;
    font-weight: 700;
    font-size: 74px;
    line-height: 80px;
    color: $color-default-white;

    @include vp-1199 {
      font-size: 74px;
      line-height: 60px;
      margin: 0 0 4px;
    }

    @include vp-767 {
      margin: 0;
      line-height: 60px;
    }
  }

  & p {
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    text-align: center;
  }
}

.advantages__list {
  margin: 0;
  padding: 0 61px 0 79px;
  display: grid;
  column-gap: 5%;
  grid-template-columns: minmax(min-content, 340px) minmax(180px, 250px) minmax(min-content, 340px);

  @include vp-1199 {
    column-gap: 4.7%;
    row-gap: 43px;
    padding: 0;
    grid-template-columns: 1fr 1fr;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    row-gap: 38px;
  }
}

.advantages__item--space {
  @include vp-767 {
    padding-bottom: 5px;
  }
}
