.btn {
  display: inline-flex;

  color: $color-default-white;

  background-color: transparent;
  border: none;
  cursor: pointer;
  user-select: none;
  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
