.btn {
  display: inline-flex;
  color: $color-default-white;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  user-select: none;
  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  &:hover {
    opacity: 0.6;
  }
}
