.contacts {
  overflow: hidden;
}

.contacts .container {
  padding: 0;
  display: flex;

  @include vp-1199 {
    flex-direction: column;
  }
}

.contacts__form {
  width: 50vw;
  padding: 56px 80px 60px 103px;
  background: $color-sapphire;
  position: relative;

  @include vp-1199 {
    width: 100%;
    padding: 70px 163px 70px 133px;
  }

  @include vp-767 {
    padding: 70px 15px;
  }

  &::after {
    content: "";
    z-index: -1;
    top: 0;
    right: 0;
    position: absolute;
    width: 100vw;
    height: 100%;
    background: $color-sapphire;
  }
}

.contacts__address {
  max-width: 487px;
  margin-left: auto;

  @include vp-1199 {
    max-width: 100%;
    margin: 0;
  }
}

.contacts__wrapper-address {
  width: 50vw;
  padding: 56px 87px 70px 80px;

  @include vp-1199 {
    width: 100%;
    padding: 70px 133px;
  }

  @include vp-767 {
    padding: 70px 15px;
  }
}
