.footer {
  padding: 43px 0 29px;
  background: $color-black-russian;
  margin-top: auto;

  @include vp-1199 {
    padding: 45px 0 45px;
  }

  @include vp-767 {
    padding: 47px 0 52px;
  }

  & a {
    transition: opacity $trans-default;

    &:hover {
      opacity: 0.6;
    }
  }
}

.footer .container {
  display: flex;
  gap: 7%;

  @include vp-1199 {
    gap: 6%;
    padding: 0 40px 0 45px;
  }

  @include vp-767 {
    padding: 0 15px;
    flex-direction: column;
  }
}

.footer__nav {
  width: 795px;
  display: flex;
  gap: 10%;

  @include vp-1199 {
    width: 100%;
    gap: 0;
  }

  @include vp-767 {
    min-width: 100%;
    width: 100%;
    position: relative;
    margin-bottom: 33px;
  }
}

.footer__social-list {
  margin: 0 0 0 auto;
  width: 180px;

  @include vp-1199 {
    max-width: 100px;
  }

  @include vp-767 {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.footer__link-logo {
  width: 88px;
  height: 32px;
  margin-top: 4px;
  display: block;

  @include vp-1199 {
    margin: 0;
    width: 82px;
    height: 18px;
    min-width: 82px;
    margin-right: 60px;
  }

  @include vp-767 {
    width: 68px;
    height: 15px;
    min-width: 68px;
    position: absolute;
    top: 3px;
    left: 0;
  }
}

.footer__logo-icon {
  width: 100%;
  height: 100%;
}
