.form {
  & form {
    width: 412px;
    margin-right: auto;

    @include vp-1199 {
      width: 100%;
    }
  }

  & legend {
    font-weight: 800;
    font-size: 54px;
    line-height: 84px;
    letter-spacing: 0.03em;
    font-family: $ff-alumni-sans;
    color: $color-default-white;
    margin: 0 0 12px;
    grid-column: 1/3;

    @include vp-1199 {
      margin: 0 0 30px;
      font-size: 42px;
      line-height: 50px;
      font-weight: 700;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      font-weight: 600;
    }
  }

  & fieldset {
    border: none;
    gap: 30px;
    display: grid;
    margin: 0 0 30px;
    padding: 0;
    grid-template-columns: 1fr 1fr;

    @include vp-1199 {
      gap: 60px;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
      margin: 0;
      gap: 0;
    }
  }

  & input {
    color: $color-default-white;
    width: 100%;
    padding: 10px 0 5px;
    font-size: 14px;
    line-height: 16px;
    border: none;
    border-bottom: 1px solid $color-light-slate-grey;
    background-color: transparent;
    transition: opacity $trans-default;

    @include hover-focus {
      opacity: 0.8;
    }

    &::placeholder {
      color: rgba($color-default-white, 0.7);
    }

    &:disabled {
      opacity: 0.5;

      pointer-events: none;
    }
  }
}

.form__box {
  position: relative;

  @include vp-767 {
    margin: 0 0 40px;
  }
}

.form__btn {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  justify-content: center;
  border: 3px solid $color-default-white;
  padding: 16px;
  letter-spacing: 0.05em;
}
