.form {
  & form {
    width: 410px;
    margin-right: auto;

    @include vp-1199 {
      width: 100%;
    }
  }

  & legend {
    font-weight: 800;
    font-size: 54px;
    line-height: 84px;
    letter-spacing: 0.03em;
    font-family: $ff-alumni-sans;
    color: $color-default-white;
    margin: 0 0 24px;
    grid-column: 1/3;

    @include vp-1199 {
      margin: 0 0 50px;
      font-size: 42px;
      line-height: 50px;
      font-weight: 700;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      font-weight: 600;
    }
  }

  & fieldset {
    border: none;
    gap: 30px;
    display: grid;
    margin: 0 0 30px;
    padding: 0;
    grid-template-columns: 1fr 1fr;

    @include vp-1199 {
      gap: 60px;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
      margin: 0;
    }
  }

  & input {
    color: $color-default-white;
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    line-height: 16px;
    border: none;
    border-bottom: 1px solid $light-slate-grey;
    background-color: transparent;

    &::placeholder {
      color: rgba($color-default-white, 0.7);
    }
  }
}

.form__box {
  @include vp-767 {
    margin: 0 0 40px;
  }
}

.form__btn {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  justify-content: center;
  border: 3px solid $color-default-white;
  padding: 21px;
  letter-spacing: 0.05em;
}

// .booking {
//   padding: 50px 0;
//   position: relative;

//   & img {
//     position: absolute;
//     left: 0;
//     top: 0;
//     z-index: -10;
//     object-fit: cover;
//     width: 100%;
//     height: 100%;
//     background-color: $color-pattens-blue;
//   }

//   @include vp-1023 {
//     padding: 90px 0 100px;
//   }

//   @include vp-767 {
//     padding: 58px 0 65px;
//   }
// }

// .booking .container {
//   display: flex;
//   column-gap: 4%;

//   @include vp-1023 {
//     flex-direction: column;
//     align-items: center;
//     row-gap: 50px;
//     column-gap: 0;
//   }

//   @include vp-767 {
//     row-gap: 36px;
//   }
// }

// .booking__inner {
//   padding-left: 59px;
//   padding-top: 163px;
//   margin-right: auto;
//   display: inline-flex;
//   flex-direction: column;
//   max-width: 600px;

//   @include vp-1023 {
//     padding: 0;
//     text-align: center;
//     margin: 0;
//   }

//   & h3 {
//     font-weight: 700;
//     font-size: 40px;
//     line-height: 60px;
//     margin: 0 0 10px 0;

//     @include vp-1023 {
//       font-size: 34px;
//       line-height: 51px;
//       margin: 0 0 5px 0;
//     }

//     @include vp-767 {
//       margin: 0 0 13px 0;
//       font-size: 24px;
//       line-height: 31px;
//     }
//   }

//   & p {
//     max-width: 400px;
//     font-size: 18px;
//     line-height: 27px;
//     margin: 0;

//     @include vp-1023 {
//       padding-left: 13px;
//     }

//     @include vp-767 {
//       padding: 0;
//       font-size: 16px;
//       line-height: 22px;
//       max-width: 100%;
//     }
//   }
// }

// .booking input {
//   border: none;
//   padding: 11px 16px;
//   height: 43px;
//   font-size: 14px;
//   line-height: 21px;
//   transition: opacity $trans-default;

//   &:hover:not(:focus,:disabled) {
//     opacity: 0.8;
//   }

//   &::placeholder {
//     color: rgba($color-tangaroa, 0.7);
//   }
// }

// .booking br {
//   display: none;

//   @include vp-767 {
//     display: block;
//   }
// }

// .booking__box {
//   display: grid;
//   position: relative;
// }

// .booking form {
//   margin-right: 60px;
//   padding: 44px 50px 50px;
//   display: flex;
//   max-width: 403px;
//   background: $color-tangaroa;
//   color: $color-alice-blue;
//   flex-direction: column;

//   @include vp-1023 {
//     margin-right: 0;
//   }

//   @include vp-767 {
//     max-width: 350px;
//     padding: 30px 30px 40px;
//   }
// }

// .booking fieldset {
//   display: flex;
//   flex-direction: column;
//   gap: 20px;
//   border: none;
//   padding: 0;
//   margin: 0 0 15px 0;

//   @include vp-767 {
//     margin: 0 0 10px 0;
//   }
// }

// .booking legend {
//   margin: 0 0 27px 0;
//   font-weight: 500;
//   font-size: 18px;
//   line-height: 27px;

//   @include vp-767 {
//     text-align: center;
//   }
// }

// label[for="booking-agreement"] {
//   position: relative;
//   font-size: 10px;
//   line-height: 13px;
//   color: $color-alice-blue;
//   padding: 5px 0 5px 22px;
//   cursor: pointer;
//   display: inline-flex;

//   @include vp-767 {
//     line-height: 12px;
//     padding-left: 30px;
//   }

//   &::before {
//     position: absolute;
//     content: "";
//     width: 18px;
//     height: 18px;
//     background-color: $color-alice-blue;
//     left: 0;
//     top: 3px;

//     @include vp-767 {
//       width: 20px;
//       height: 20px;
//       top: 5px;
//     }
//   }

//   &:hover:not(:focus,:disabled) {
//     opacity: 0.8;
//   }
// }

// .booking input[type="checkbox"]:focus:not(:disabled) + label {
//   outline: 1px solid $color-default-white;
//   border-radius: 2px;
// }

// .booking input[type="checkbox"]:checked + label::before {
//   background: url("../img/svg/arrow.svg") no-repeat center, $color-alice-blue;
// }

// .booking__checkbox {
//   margin-bottom: 28px;
//   position: relative;

//   @include vp-767 {
//     margin-bottom: 23px;
//   }
// }

// .booking input[type="checkbox"] {
//   position: absolute;
//   bottom: -5px;
//   left: 8px;
//   width: 1px;
// }

// .booking__checkbox .error-message {
//   bottom: -22px;

//   @include vp-767 {
//     bottom: -19px;
//   }
// }

// .booking__btn {
//   background-color: $color-alice-blue;
//   color: $color-tangaroa;
//   justify-content: center;
//   font-weight: 600;
//   font-size: 14px;
//   line-height: 21px;
//   padding: 10px 10px 11px;
// }
