.header {
  padding: 30px 0 51px;
  background: conic-gradient(from 139.4deg at 20.7% 35.74%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
  display: flex;
  color: $color-default-white;

  & a {
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: .03em;
    font-family: $ff-alumni-sans;
    display: inline-flex;
    color: $color-default-white;
    align-self: flex-start;
  }
}

.header__inner{
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

// .header {
//   position: relative;
//   overflow: hidden;
//   padding-top: 35px;
//   filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

//   & img {
//     position: absolute;
//     left: 0;
//     top: 0;
//     z-index: -10;
//     object-fit: cover;
//     width: 100%;
//     height: 100%;
//     background-color: $color-lochmara;
//   }

//   @include vp-1023 {
//     filter: none;
//     padding-top: 30px;
//   }

//   @include vp-767 {
//     min-height: 500px;
//     padding-top: 14px;
//   }
// }

// .header__link-logo {
//   transition: opacity $trans-default;

//   @include hover-focus {
//     opacity: 0.8;
//   }
// }

// .header__nav-list a {
//   @include vp-767 {
//     font-size: 18px;
//     line-height: 22px;
//   }
// }

// .header__logo-icon {
//   width: 70px;
//   height: 38px;
//   fill: $color-alice-blue;

//   @include vp-1023 {
//     width: 38px;
//     height: 20px;
//   }

//   @include vp-767 {
//     width: 42px;
//     height: 32px;
//   }
// }

// .is-open .header__container {
//   @include vp-767 {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     z-index: 100;
//     width: 100%;
//     background-color: rgba(0, 43, 102, 0.5);
//     overflow-x: hidden;
//   }
// }

// .header__checkbox,
// .header__label {
//   display: none;

//   @include vp-767 {
//     display: block;
//   }
// }

// .header__label {
//   @include vp-767 {
//     order: 1;
//     position: relative;
//     background-color: transparent;
//     border: none;
//     top: 6px;
//     width: 24px;
//     height: 24px;
//     cursor: pointer;
//     z-index: 100;

//     &::before,
//     &::after {
//       position: absolute;
//       content: "";
//       top: 4px;
//       left: 0;
//       width: 24px;
//       height: 2px;
//       background-color: $color-alice-blue;
//       box-shadow: 0 6px 0 0 $color-alice-blue, 0 12px 0 0 $color-alice-blue;
//     }
//   }
// }

// .header__checkbox:checked + .header__label {
//   @include vp-767 {
//     transform: translate(5px, 14px);

//     &::before,
//     &::after {
//       left: 3px;
//       top: 11px;
//       width: 18px;
//       background-color: $color-tangaroa;
//       box-shadow: none;
//       transition: transform 0.2s ease-in;
//     }

//     &::before {
//       transform: rotate(45deg);
//     }

//     &::after {
//       transform: rotate(-45deg);
//     }
//   }
// }

// .header__checkbox:checked {
//   @include vp-767 {
//     & ~ .header__nav {
//       display: block;
//       position: absolute;
//       top: 0;
//       right: 0;
//       padding-top: 85px;
//       padding-left: 25px;
//       height: 100%;
//       padding-bottom: 40px;
//       width: 89%;
//       overflow-y: scroll;
//       text-align: start;
//       background-color: $color-alice-blue;
//     }
//   }
// }

// .header__checkbox:checked ~ .header__link-logo {
//   @include vp-767 {
//     z-index: 100;
//     margin-left: 12%;
//     transform: translateY(15px);
//     display: block;
//     width: 42px;
//     height: 32px;
//   }
// }

// .header__checkbox:checked ~ .header__link-logo > .header__logo-icon {
//   @include vp-767 {
//     fill: $color-tangaroa;
//   }
// }

// .header__checkbox:focus-visible:not(:disabled) + label {
//   outline: 2px solid $color-alice-blue;
//   border-radius: 2px;
// }

// .header__checkbox:checked:focus-visible:not(:disabled) + label {
//   outline: 2px solid rgba($color-tangaroa, 0.8);
// }

// .header__nav {
//   @include vp-767 {
//     display: none;

//     & a {
//       color: $color-tangaroa;
//     }
//   }
// }

// .header__checkbox:hover:not(:disabled) + label {
//   opacity: 0.8;
//   transition: opacity $trans-default;
// }
