.header {
  padding: 30px 0 51px;
  background: conic-gradient(from 139.4deg at 20.7% 35.74%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
  display: flex;
  color: $color-default-white;

  @include vp-1199 {
    padding: 40px 0 82px;
  }
}

.header__box {
  display: flex;
  flex-direction: column;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  gap: 50px;

  & a {
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    font-family: $ff-alumni-sans;
    display: inline-flex;
    color: $color-default-white;
    align-self: flex-start;

    @include vp-1199 {
      font-size: 24px;
      line-height: 29px;
    }

    @include vp-767 {
      font-size: 20px;
      line-height: 24px;
    }
  }
}
