.info {
  padding: 120px 0 235px;

  @include vp-1199 {
    padding: 100px 0 183px;
  }

  @include vp-767 {
    padding: 64px 0 70px;
  }
}

.info .container {
  display: flex;
  justify-content: space-between;

  @include vp-1199 {
    flex-direction: column;
    align-items: center;
    gap: 43px;
  }

  @include vp-767 {
    padding: 0;
    gap: 30px;
  }
}

.info__content {
  max-width: 436px;
  padding: 38px 25px 0 60px;

  @include vp-1199 {
    max-width: 520px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include vp-767 {
      max-width: 100%;
      align-items: flex-start;
      padding: 0 15px 0;
    }
  }

  & h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.03em;
    font-family: $ff-alumni-sans;
    display: inline-flex;
    color: $color-sapphire;
    margin: 0 0 9px;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
      margin: 0;
      padding-right: 14px;
    }

    @include vp-767 {
      padding-right: 0;
      font-size: 32px;
      line-height: 38px;
      margin: 0 0 5px;
    }
  }

  & h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin: 0 0 39px;

    @include vp-1199 {
      margin: 0 0 35px;
    }

    @include vp-767 {
      margin: 0 0 25px;
    }
  }
}

.info__content-box {
  display: flex;
  flex-direction: column;
  gap: 7px;

  @include vp-1199 {
    & :last-child {
      display: none;
    }
  }

  @include vp-767 {
    padding-right: 30px;
  }

  & p {
    font-size: 16px;
    line-height: 24px;
    color: $color-sapphire;
    margin: 0;
    font-weight: 300;

    @include vp-1199 {
      text-align: center;
    }

    @include vp-767 {
      text-align: left;
    }
  }
}

.info__media {
  position: relative;
  padding-left: 63px;
  width: 100%;
  height: 100%;

  @include vp-1199 {
    padding-left: 0;
  }

  @include vp-767 {
    min-width: 100%;
  }
}

.info__video-wrapper {
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include vp-767 {
    gap: 40px;
  }
}

.info__video-inner {
  position: absolute;
  left: 0;
  width: 50%;
  transform: translateY(128%);

  @include vp-1199 {
    width: 39%;
    height: auto;
    bottom: -24%;
    left: 30.3%;
    transform: none;
  }

  @include vp-767 {
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
    top: 0;
    transform: none;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(20, 54, 122, 0.5);
    z-index: 2;
  }
}
