.intro {
  display: flex;
  gap: 5.4%;

  & h2 {
    grid-row: 2/3;
    grid-column: 2/3;
    font-weight: 600;
    font-size: 92px;
    line-height: 110px;
    letter-spacing: 0.05em;
    font-family: $ff-alumni-sans;
    text-align: right;
    margin: 0;
    text-transform: uppercase;
    -webkit-text-stroke: 4px;

    @include vp-1199 {
      font-size: 72px;
      line-height: 86px;
      letter-spacing: 0.03em;
    }

    @include vp-767 {
      font-size: 72px;
      line-height: 86px;
      max-width: 300px;
      margin-left: auto;
    }
  }

  & span {
    grid-row: 1/2;
    grid-column: 2/3;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.03em;
    font-family: $ff-alumni-sans;
    text-align: right;
    padding-right: 50px;

    @include vp-1199 {
      font-size: 34px;
      line-height: 41px;
      padding: 0;
      text-transform: uppercase;
    }

    @include vp-767 {
      font-size: 28px;
      line-height: 34px;
    }
  }

  & a {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  & img {
    height: auto;
    // max-height: 556px;
    width: 100%;
    object-fit: cover;
    transform: translateY(-20px);


    @include vp-1199 {
      width: 100%;
      transform: none;
    }
  }
}

.intro__content-wrapper {
  padding: 90px 0 64px;
  max-width: min-content;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    padding: 57px 0 10px;
    max-width: 50%;
  }

  @include vp-767 {
    padding: 70px 0 0;
    max-width: 100%;
    width: 100%;
  }
}

.intro__content-inner {
  display: grid;
  min-width: 396px;
  // padding-left: 20px;
  grid-template-columns: minmax(130px, 200px) minmax(255px, 1fr);
  row-gap: 13px;
  column-gap: 2%;
  margin-bottom: 49px;

  @include vp-1199 {
    row-gap: 0;
    column-gap: 7%;
    margin-bottom: 40px;
  }

  @include vp-767 {
    gap: 0;
  }
}

.intro__image-wrapper {
  width: 32vw;
  height: 191px;
  max-width: 500px;

  @include vp-1300 {
    width: 37vw;
  }

  @include vp-1199 {
    width: 29vw;
    max-height: 390px;
    min-width: 324px;
  }

  @include vp-767 {
    display: none;
  }
}

.intro__list {
  grid-column: 1/2;
  grid-row: 2/3;
  list-style-type: none;
  text-align: right;
  align-self: flex-end;
  font-size: 14px;
  line-height: 21px;
  padding: 0 0 35px;
  margin: 0;

  @include vp-767 {
    transform: translateX(15px);
    margin-right: auto;
  }
}

.intro__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  justify-content: center;
  margin-left: auto;
  text-transform: uppercase;
  padding: 20px 25px;
  border: 4px solid $color-default-white;
  font-family: $ff-roboto;
  min-width: 234px;

  @include vp-1199 {
    padding: 24px 33px;
    min-width: 183px;
  }

  @include vp-767 {
    width: 100%;
  }
}
