.nav {
  & a {
    font-size: 14px;
    line-height: 16px;
    color: $color-default-white;

    @include vp-767 {
      font-size: 16px;
      line-height: 19px;
    }
  }
}

.nav__list {
  list-style-type: none;
  display: flex;
  gap: 40px;
  margin: 0 0 0 auto;
  padding: 0;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include vp-1199 {
    gap: 30px;
  }

  @include vp-767 {
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.nav__item--services {
  @include vp-767 {
    grid-row: 2/3;
  }
}

.nav__item--tickets {
  @include vp-767 {
    grid-row: 3/4;
  }
}

.nav__item--stocks {
  @include vp-767 {
    grid-column: 2/3;
  }
}
