.promo {
  padding: 120px 0 106px;

  & p,
    a {
    grid-column: 1/3;
  }
}

.promo .container {
  display: flex;
}

.promo__content-wrapper {
  background-color: $color-torch-red;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 500px;
  padding: 85px 79px 87px 78px;
}
