.reviews {
  padding: 0 0 120px;

  @include vp-1199 {
    padding: 0 0 100px;
  }


  @include vp-767 {
    overflow: hidden;
    padding: 0 0 70px;
  }

  & h2 {
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;
    margin: 0 0 38px;
    font-family: $ff-alumni-sans;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
    }
  }

  & h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 13px;

    @include vp-1199 {
      font-size: 20px;
      line-height: 26px;
    }
  }

  & p {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
  }
}

.reviews .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @include vp-767 {
    padding: 0 47px;
  }
}

.reviews__list {
  list-style-type: none;
  color: $color-default-white;
  display: flex;
  padding: 0;
  margin: 0;
  cursor: grab;
}

.reviews__swiper {
  background: $color-resolution-blue;
  overflow: hidden;
  width: 560px;

  @include vp-1199 {
    width: 566px;
  }

  @include vp-767 {
    max-width: 100%;
  }
}

.reviews__content {
  padding: 54px 60px 58px 60px;
  width: 560px;
  display: grid;
  grid-template-columns: 80px 1fr;
  column-gap: 30px;

  @include vp-1199 {
    padding: 58px 63px 60px 64px;
    width: 566px;
  }

  & p {
    @include vp-767 {
      grid-row: 2/3;
      grid-column: 1/3;
      text-align: center;
    }
  }

  @include vp-767 {
    grid-template-columns: 68px 1fr;
    grid-template-rows: 68px 1fr;
    max-width: 100%;
    row-gap: 20px;
    column-gap: 15px;
    padding: 40px 25px;
  }
}

.reviews__content-image {
  width: 80px;
  height: 80px;
  margin: 6px 0 0;
  display: block;
  clip-path: circle(50% at 50% 50%);
  grid-row: 1/3;
  grid-column: 1/2;

  & img {
    font-size: 13px;
    line-height: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include vp-767 {
    width: auto;
    height: auto;
    grid-row: 1/2;
  }

  &--vasiliy {
    & img {
      object-position: 50% 10%;
    }
  }
}

.reviews__btn {
  cursor: pointer;
  background: transparent;
  border: none;
  position: absolute;
  top: 50%;
  user-select: none;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  @include vp-767 {
    width: 10px;
    height: 19px;
  }

  &--right {
    right: 50%;
    transform: translate(340px, 34px);

    @include vp-1199 {
      transform: translate(345px, 25px);
    }

    @include vp-767 {
      right: 0;
    }
  }

  &--left {
    left: 50%;
    transform: translate(-340px, 34px);

    @include vp-1199 {
      transform: translate(-345px, 25px);
    }

    @include vp-767 {
      left: 0;
    }
  }
}

.reviews__btn-icon--right {
  transform: rotate(180deg);
}


