.social {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;
  gap: 11px;

  @include vp-767 {
    justify-content: flex-start;
  }
}

.social__item a {
  width: 25px;
  height: 25px;
  display: block;
}
