.social {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;
  gap: 11px;

  @include vp-767 {
    justify-content: flex-start;
  }
}

.social__item a {
  width: 25px;
  height: 25px;
  display: block;
}

// .social__icon {
//   @include vp-1023 {
//     width: 16px;
//     height: 16px;
//   }
// }

// .social a {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   min-width: 22px;
//   min-height: 25px;
//   cursor: pointer;
//   transition: opacity $trans-default;

//   @include hover-focus {
//     opacity: 0.8;
//   }

//   @include vp-1023 {
//     min-width: 17px;
//     padding-bottom: 3px;
//   }

//   @include vp-1023 {
//     min-width: 16px;
//   }
// }
