.stocks {
  padding: 100px 0 117px;

  @include vp-1199 {
    padding: 85px 0 91px;
  }

  @include vp-767 {
    padding: 70px 0;
  }

  h2 {
    text-align: center;
    font-weight: 600;
    font-size: 54px;
    line-height: 64px;
    letter-spacing: 0.03em;
    font-family: $ff-alumni-sans;
    margin: 0 0 33px;

    @include vp-1199 {
      padding-right: 10px;
      font-size: 42px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 48px;
    }
  }

  & p {
    font-size: 18px;
    line-height: 25px;
    margin: 0 0 15px;

    @include vp-767 {
      align-items: center;
    }
  }

  & h3 {
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
    margin: 0 0 1%;
  }
}

.stocks__content-wrapper {
  padding: 6.2% 8% 8%;
  display: flex;
  width: 50%;
  flex-direction: column;
  color: $color-default-white;

  @include vp-1199 {
    padding: 32px 25px 45px 45px;
    width: none;
  }

  @include vp-767 {
    align-items: center;
  }

  & .stocks__link {
    color: $color-default-white;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    border-bottom: 1px solid $color-default-white;
  }
}

.stocks__box {
  font-weight: 700;
  margin: 0 0 9%;

  @include vp-1199 {
    margin: 0 0 25px;
  }

  & dt {
    font-size: 28px;
    line-height: 40px;
    margin: 0;

    @include vp-1199 {
      font-size: 28px;
      line-height: 44px;
    }

    @include vp-767 {
      text-align: center;
    }
  }

  & dd {
    font-size: 70px;
    line-height: 70px;
    margin: 0;

    @include vp-1199 {
      line-height: 60px;
    }
  }
}

.stocks__list {
  display: grid;
  margin: 0;
  row-gap: 8.1%;
  column-gap: 3.5%;
  padding: 0;
  list-style-type: none;
  grid-template-columns: 1fr 1fr;

  @include vp-1199 {
    row-gap: 32px;
    column-gap: 4%;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.stocks__item--unlimited {
  display: flex;
  grid-row: 1/3;
  background: $color-torch-red;

  @include vp-1199 {
    grid-row: 1/2;
    grid-column: 1/3;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.stocks__item:not(:first-child) {
  color: $color-resolution-blue;
  display: flex;
  flex-direction: column;
  padding: 3.1% 5% 5%;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 7px;
  border-image-source: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);

  @include vp-1199 {
    padding: 17px 28px 30px;
    min-height: 211px;
  }

  @include vp-767 {
    padding: 46px 40px 51px;
    align-items: center;
  }

  & p {
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 15px;
  }
}

.stocks__item--discount {
  grid-column: 2/3;
}

.stocks__link {
  margin-top: auto;
  color: $color-resolution-blue;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  width: max-content;
  text-transform: uppercase;
  border-bottom: 1px solid $color-resolution-blue;
  letter-spacing: 0.05em;
}

.stocks__image-wrapper {
  width: 50%;

  @include vp-1199 {
    width: 75%;
  }

  @include vp-767 {
    width: 100%;
  }

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
