.subscription {
  overflow: hidden;
  position: relative;
  padding: 120px 0 190px;
  background: linear-gradient(to bottom, $color-ghost-white 94.5%,$color-default-white 94.5%);

  @include vp-1199 {
    background: linear-gradient(to bottom, $color-ghost-white 97.5%,$color-default-white 97.5%);
    padding: 100px 0 160px;
  }

  @include vp-767 {
    padding: 70px 0;
  }

  & h2 {
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;
    font-family: $ff-alumni-sans;
    text-align: center;
    margin: 0 0 25px;

    @include vp-767 {
      font-size: 42px;
      line-height: 50px;
    }
  }
}

.subscription__image-wrap {
  position: absolute;
  bottom: 100px;
  right: -66px;
  width: 321px;
  height: 284px;
  transform: scale(1.2);

  @include vp-1199 {
    right: 28px;
    bottom: -2px;
    width: 289px;
    height: 345px;
  }

  @include vp-767 {
    display: none;
  }

  & img {
    width: 100%;
    height: auto;
  }
}

.subscription__month-list {
  text-align: center;
  margin-bottom: 39px;
}

.subscription__ticket-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
