
// .tab {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
// }

.tabs__element {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4%;
  padding: 0;
  margin: 0;
  list-style-type: none;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }
}

.tabs__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 68px 18%;
  background: $color-default-white;
  border: 7px solid $color-default-white;

  &:hover {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 7px;
    border-image-source: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);
  }

  @include vp-1199 {
    width: 442px;
    padding: 68px 110px;
  }

  @include vp-767 {
    width: 100%;
    padding: 55px 42px;
  }

  & h3 {
    font-size: 26px;
    line-height: 29px;
    margin: 0 0 22px;

    @include vp-767 {
      margin: 0 0 20px;
      font-size: 22px;
      line-height: 24px;
    }
  }


  & p {
    margin: 0 0 96px;

    @include vp-767 {
      margin: 0 0 81px;
    }
  }
}

.tabs__link {
  padding: 20px 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  border: 2px solid $color-sapphire;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: auto;
}

.tabs__box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  color: $color-egyptian-blue;
  column-gap: 14px;
  margin: 0 0 59px;

  @include vp-767 {
    font-size: 48px;
    line-height: 52px;
  }

  & span {
    position: relative;
    z-index: 2;

    &:before {
      position: absolute;
      top: -54px;
      right: -66px;
      font-weight: 700;
      font-size: 100px;
      line-height: 150px;
      color: #E8E8E8;
      z-index: -1;
      content: attr(data-price);

      @include vp-767 {
        font-size: 80px;
        line-height: 120px;
      }
    }
  }

  & img {
    z-index: 2;

    @include vp-767 {
      width: 24px;
      height: 33px;
    }
  }
}

.tabs__controls {
  width: max-content;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 46px;
  color: $color-sapphire;
  margin-bottom: 39px;
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: rgba($colr-grey, 0.2);
  }

  @include vp-767 {
    gap: 54px;
  }

  @include vp-767 {
    gap: 45px;
  }
}

.tabs__control {
  color: $color-sapphire;
  padding: 10px 0;
  margin-bottom: 10px;
  position: relative;
  font-size: 20px;
  line-height: 30px;
  color: rgba($color-sapphire, 0.5);

  &.is-active {
    color: $color-sapphire;

    &::after {
      position: absolute;
      bottom: -10px;
      content: "";
      width: 100%;
      height: 2px;
      background: $color-crimson;
    }
  }

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 24px;
  }
}

// .stocks__image-wrapper {
//   & img {
//     width: 280px;
//   }

// }


.tabs__item:hover > .tabs__link,
.tabs__link:focus-visible {
  color: $color-default-white;
  background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
  border: none;
  outline: none;
}


// .tabs {
//   max-width: 100%;
// }

// .tabs__controls {
//   display: flex;
//   justify-content: space-between;
//   width: 100%;
//   margin-bottom: 40px;

//   @media screen and (max-width: 767px) {
//     flex-wrap: wrap;
//   }
// }

// .tabs__control {
//   text-transform: uppercase;
//   cursor: pointer;
//   margin: 0 20px;
//   opacity: 0.5;
//   min-width: auto;
//   justify-content: center;
//   width: 25%;

//   @media screen and (max-width: 1023px) {
//     margin: 0 10px;
//     padding: 15px;
//   }

//   @media screen and (max-width: 767px) {
//     margin: 10px 2% 0;
//     padding: 10px;
//     width: 45%;
//   }

//   &.is-active {
//     opacity: 1;
//     pointer-events: none;
//   }
// }

// .tabs__content {
//   margin-bottom: 40px;

//   transition: height 0.3s;
// }

// .tabs__element {
//   padding: 25px;
//   width: 100%;

//   @media screen and (max-width: 767px) {
//     padding: 15px;
//   }

//   p {
//     margin: 0;

//     &:not(:last-child) {
//       margin: 0 0 20px 0;
//     }
//   }

//   &:nth-child(1) {
//     background-color: rgb(250, 235, 215);
//   }

//   &:nth-child(2) {
//     background-color: rgb(229, 250, 215);
//   }

//   &:nth-child(3) {
//     background-color: rgb(180, 188, 233);
//   }

//   &:nth-child(4) {
//     background-color: rgb(255, 187, 204);
//   }
// }

// .tabs--unset .tabs__content {
//   height: 100px;
// }

// .tabs--unset .tabs__element {
//   height: 100%;
//   overflow-y: auto;
//   overflow-x: hidden;
// }
