
.tabs__element {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4%;
  padding: 0;
  margin: 0;
  list-style-type: none;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }

  @include vp-767 {
    row-gap: 35px;
  }
}

.tabs__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 10px 60px;
  background: $color-default-white;
  border: 7px solid $color-default-white;
  min-height: 448px;

  &:hover {
    border: 7px solid;
    border-image-slice: 1;
    border-width: 7px;
    border-image-source: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);
  }

  @include vp-1199 {
    width: 440px;
    padding: 59px 15px 58px;
  }

  @include vp-767 {
    width: 100%;
    min-height: 384px;
    padding: 44px 15px 47px;
  }

  & h3 {
    text-align: center;
    font-size: 26px;
    line-height: 29px;
    margin: 0 0 10px;

    @include vp-767 {
      margin: 0 0 10px;
      font-size: 22px;
      line-height: 24px;
    }
  }

  & p {
    margin: 0 0 66px;

    @include vp-767 {
      margin: 0 0 61px;
    }
  }
}

.tabs__link {
  padding: 25px 10px;
  width: 206px;
  display: flex;
  justify-content: center;
  border: 2px solid $color-sapphire;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: auto;
}

.tabs__box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  color: $color-egyptian-blue;
  column-gap: 14px;
  margin: 0 0 20px;

  @include vp-767 {
    font-size: 48px;
    line-height: 52px;
  }

  & span {
    position: relative;
    z-index: 2;

    &::before {
      position: absolute;
      top: -54px;
      right: -62px;
      font-weight: 700;
      font-size: 100px;
      line-height: 150px;
      color: rgba($color-whisper, 0.6);
      z-index: -1;
      content: attr(data-price);

      @include vp-767 {
        right: -52px;
        font-size: 80px;
        line-height: 120px;
      }
    }
  }

  & img {
    color: $color-sapphire;
    font-size: 11px;
    line-height: 14px;
    z-index: 2;

    @include vp-767 {
      width: 24px;
      height: 33px;
    }
  }
}

.tabs__controls {
  width: max-content;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 46px;
  color: $color-sapphire;
  margin-bottom: 39px;
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: rgba($color-grey, 0.2);
  }

  @include vp-1199 {
    gap: 54px;
    margin-bottom: 42px;
  }

  @include vp-767 {
    gap: 45px;
    margin-bottom: 35px;
  }
}

.tabs__control {
  padding: 5px 0;
  margin-bottom: 10px;
  position: relative;
  font-size: 20px;
  line-height: 30px;
  color: rgba($color-sapphire, 0.5);
  transition: opacity $trans-default;

  @include hover-focus {
    opacity: 0.5;
  }

  &.is-active {
    color: $color-sapphire;

    &::after {
      position: absolute;
      bottom: -10px;
      content: "";
      width: 100%;
      height: 2px;
      background: $color-crimson;
    }
  }

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 24px;
  }
}

.tabs__item:hover > .tabs__link,
.tabs__link:focus-visible {
  color: $color-default-white;
  background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
  border: none;
  outline: none;
}
