.trainers {
  padding: 0 0 140px;

}

.trainers .container {
  position: relative;
}

.trainers__list {
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: grab;
  display: flex;
}

.trainers__item {
  min-width: 260px;
  display: block;
}

.trainers__swiper {
  max-width: 1160px;
  height: 100%;
  // box-sizing: content-box;
  overflow: hidden;
}


.trainers__btn {
  position: absolute;
  top: 326px;
  border: none;
  z-index: 10;
  cursor: pointer;
  background: transparent;
}

.trainers__btn--left {
  left: 40px;
}

.trainers__btn--right {
  right: 40px;
  transform: rotate(180deg);
}
