.trainer__content {
  width: 19.1vw;
  height: 22vw;
  max-width: 260px;
  max-height: 294px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9% 17%;
  color: $color-default-white;
  overflow: hidden;
  background: #495a7d;

  @include vp-1199 {
    width: 50vw;
    height: 38.2vw;
    max-width: 100%;
    max-height: 100%;
    padding: 20px 30px;
  }

  @include vp-767 {
    width: 80vw;
    height: 80vw;
  }

  & h3 {
    margin: auto 0 0;
    z-index: 10;
    order: 2;
    font-size: 18px;
    line-height: 27px;
  }

  & span {
    font-size: 16px;
    line-height: 20px;
    z-index: -5;
    margin-bottom: 19%;

    @include vp-1199 {
      margin-bottom: 32px;
    }
  }

  & img {
    color: $color-default-white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &--arcady {
    & img {
      object-position: 60% 50%;
    }
  }

  &--peter {
    & img {
      object-position: left 30%;
    }
  }
}

.trainer__list {
  margin: 0 0 10px 8%;
  padding-left: 15px;
  text-align: start;
  list-style: disc;
  font-size: 14px;
  line-height: 21px;
  order: 1;
  z-index: -5;
  display: flex;
  flex-direction: column;
  row-gap: 13px;

  @include vp-1199 {
    margin: 0 0 10px 11px;
  }
}

.trainer__content:hover {
  padding: 20% 17% 15%;
  background: rgba($color-sapphire, 89%);

  & .trainer__list {
    z-index: 10;
  }

  & h3 {
    order: 0;
    margin: 0;
  }

  & span {
    z-index: 10;
    color: #b6bdcc;
  }

  & img {
    z-index: -3;
  }
}

.trainer__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
  }
}
