.video__btn {
  background: transparent;
}

// .video {
//   position: relative;
// }

.video {
  position: absolute;
  // top: 300px;
  left: -60px;
  // margin-right: auto;
  width: 364px;
  height: 228px;
  transform: translateY(300px);

  @include vp-1199 {
    width: 36vw;
    bottom: -80px;
    height: 22vw;
    left: 50%;
    transform: translateX(-18vw);
  }

  @include vp-767 {
    width: 100%;
    height: 52vw;
    position: relative;
    left: 0;
    top: 0;
    transform: none;
  }
}

.video__box {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  // object-position: 100% 0;

  & iframe {
    width: 100%;
    height: 100%;
  }
}

.video picture {
  // @include vp-768 {
  //   display: block;
  //   margin-bottom: 40px;
  // }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(20, 54, 122, 0.5);
    z-index: 2;
  }
}

// .video img:first-child {
//   @include vp-768 {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//   }
// }

.info__video-wrapper {
  display: flex;
  flex-direction: column;
}

.video__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  z-index: 3;
  transform: translate(-50px, -50px);

  @include vp-1199 {
    width: 14vw;
    height: auto;
    left: 50%;
    // height: 50%;
    transform: translate(-7vw, -7vw);
  }
}
